# =========================
# Ignore organiser zips
# =========================
organiser_files/

# =========================
# Ignore datasets
# =========================
Offroad_Segmentation_testImages/
Offroad_Segmentation_Training_Dataset/

# =========================
# Ignore result outputs
# =========================
Offroad_Segmentation_Scripts/result/test_prediction/
Offroad_Segmentation_Scripts/result/visualizations/

# =========================
# (Optional) Common Python ignores
# =========================
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.env/
venv/
.DS_Store